<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348433296129-co4oueipla4dh5kkblj5joh4uglvqt0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348433296129-co4oueipla4dh5kkblj5joh4uglvqt0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDaXYZ1MWp-jwvJ-60QuYiLt81G-QaNuxc</string>
	<key>GCM_SENDER_ID</key>
	<string>348433296129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtime-chat-a39fa</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-chat-a39fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348433296129:ios:1f80ec8832b84e9d</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-chat-a39fa.firebaseio.com</string>
</dict>
</plist>